# ===================================================================
# Security: Environment variables
# ===================================================================
.env
instance/


# ===================================================================
# Python Dependencies & Cache
# ===================================================================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd


# ===================================================================
# Common System Files & Editor Configs
# ===================================================================
.DS_Store
.idea/